legend {
  color: #fff;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-weight: 300;
  font-size: 1.25em;
  background-color: #337ab7;
}
label.control-label {
  font-weight: 400;
}
select.form-control,
input[type=text] {
  height: 2em;
}
@import url("http://fonts.googleapis.com/css?family=Roboto:500,400,300,500italic,300italic,900italic,400italic,100,700italic,700,100italic,900");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  font-weight: 300;
}
h1 {
  font-size: 36px;
}
position absolute,
top 0,
width 100% !important,
height 100% !important {
  dispay: block;
  max-height: 450px;
  max-width: 600px;
}
.admin-property tr td img {
  max-width: 100px;
  max-height: 75px;
}
.admin-actions a.btn {
  margin: 1px;
}
.property-img table p {
  display: block;
  border-radius: 10px;
  border: 1px solid #337ab7;
  margin-top: 1rem;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}
.property-img table p img {
  border-radius: 10px;
  margin-bottom: 10px;
}
.img-responsive {
  border-radius: 10px;
}
#upload-an-image section p .img-responsive {
  margin-bottom: 10px;
}
.item,
position relative,
overflow hidden {
  position: absolute;
}
.item img.img-responsive,
position relative img.img-responsive,
overflow hidden img.img-responsive {
  border-radius: 0px;
}
.item margin auto,
position relative margin auto,
overflow hidden margin auto {
  height: 300px;
  max-height: 450px;
  max-width: 600px;
}
.carousel-control {
  background: #337ab7;
  color: #fff;
  margin: 0 auto;
}
.carousel-control.left,
.carousel-control.right {
  width: 7.5%;
  background-image: none;
}
form {
  border-radius: 15px;
}
form fieldset {
  padding-top: 7.5rem;
  position: relative;
  border-radius: 15px;
  border-left: 1px solid #337ab7;
  border-right: 1px solid #337ab7;
  border-bottom: 1px solid #337ab7;
  margin: 0;
  margin-bottom: 1em;
}
form fieldset legend {
  height: 5rem;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #337ab7;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 1em;
}
body,
.form-control,
.btn {
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
}
body {
  padding-top: 2em;
  padding-bottom: 2em;
}
strong {
  font-weight: 400;
}
.nav-tabs {
  border-bottom: 1px solid #337ab7;
  margin-top: 1em;
}
.tab-pane {
  padding-top: 1em;
  padding-bottom: 1em;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li.active a:visited,
.nav-tabs li.active a:link {
  font-weight: 400;
  color: #337ab7;
  border: 1px solid #337ab7;
  border-bottom: 1px solid transparent;
}
nav.main {
  position: fixed;
  top: 10px;
}
body header {
  margin-top: 50px;
  margin-bottom: 0;
}
body header p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.item img {
  margin: 0 auto;
}
.jumbotron p {
  font-weight: 500;
  margin: auto;
}
#myCarousel {
  position: relative;
}
#myCarousel p {
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.75);
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
}
