<section class="col-md-3 property-img">
	<h3> <a href="upload.php?propertyID={{propertyID}}">Property Photos</a> </h3>
	<table class="table-responsive">
	{{#rows}}
	<tr><td>
		<p> <a href="upload.php?pictureID={{pictureID}}&propertyID={{propertyID}}"> 
			<img src="uploads/{{file}}" class="img-responsive"></a>
			{{comments}} 
			<br> <a href="upload.php?pictureID={{pictureID}}&propertyID={{propertyID}}"> Edit </a> / <a href="delete.php?pictureID={{pictureID}}&propertyID={{propertyID}}"> Delete </a>
		</p>
	</td></tr>
	{{/rows}}
	{{^rows}}
		<p> You haven't added images for this property.</p> 
	{{/rows}}	
	</table>
		<p><a class="btn btn-block btn-primary" href="upload.php?propertyID={{propertyID}}">Add some photos.</a></p>
</section>
