	<section class="alert alert-warning container col-md-12"> 
		<h2 class="col-xs-12"> <small><span class="glyphicon glyphicon-exclamation-sign"></span></small> Warning</h2>
		<p class="col-xs-12">You are about to delete this image image from <strong>{{street}}, {{suburb}} {{postcode}} ({{location}}, {{country}})</strong>: 
		</p> 
		<p class="col-xs-12"> 
			<img src="/uploads/{{href}}" class="img img-responsive">
		</p> 
		<p class="text-centre col-xs-12">
			<a class="btn btn-block btn-success" href="delete.php?propertyID={{propertyID}}&pictureID={{pictureID}}&delete=1"> <span class="glyphicon glyphicon-ok"></span> <strong>Confirm and delete</strong> this image</a>
			<a class="btn btn-block btn-danger" href="admin.php"> <span class="glyphicon glyphicon-remove"></span> <strong>Cancel and return</strong> to admin page </a>
		</p>
	</section>