	<section class="alert alert-warning container col-md-12"> 
		<h2 class="col-xs-12"> <small><span class="glyphicon glyphicon-exclamation-sign"></span></small> Warning</h2>
		<p class="col-xs-12">You are about to delete property <strong>{{street}}, {{suburb}} {{postcode}} ({{location}}, {{country}})</strong> and any images which you may have uploaded.</p> 
		<p class="text-centre col-xs-12">
			<a class="btn btn-block btn-success" href="delete.php?propertyID={{propertyID}}&delete=1"> <span class="glyphicon glyphicon-ok"></span> <strong>Confirm and delete</strong> this property</a>
			<a class="btn btn-block btn-danger" href="admin.php"> <span class="glyphicon glyphicon-remove"></span> <strong>Cancel and return</strong> to admin page </a>
		</p>
	</section>