
<form action="{{action}}" method="{{method}}" class="form-horizontal" enctype="multipart/form-data">
	{{#groups}}
		<fieldset id="{{id}}">
			<legend>{{name}}</legend>
			{{#message}}
				<p class="text-muted">{{message}}</p>
			{{/message}}
			{{#fieldset}}
				<section class="form-group {{#errors}}has-error{{/errors}} {{^errors}}{{#value}}has-success{{/value}}{{/errors}}">
					<label for="{{id}}" class="col-md-3 col-sm-2 col-xs-12 control-label">
						{{label}} 
						{{#required}}*{{/required}}
					</label>
					<p class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
						{{>input_text}}	
						{{>input_textarea}}	
						{{>input_password}}	
						{{>input_passwordNew}}	
						{{>input_file}}
						{{>input_select}} 	
						{{>input_radio}}	
						{{>input_checkbox}}	
					</p>
					{{>input_glyphs}}
					{{#message}} 
						<p class="text-muted col-sm-push-3 col-lg-6 col-md-6 col-sm-9 col-xs-12"><small>
						{{message}}
						</small></p> 
					{{/message}}
					{{>input_error}}
				</section>
			{{/fieldset}}
		</fieldset>
	{{/groups}}
	<section class="col-xs-6">
		<button type="submit" class="btn btn-lg btn-success col-xs-12"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs">Submit Form</span></button>
	</section>
	<section class="col-xs-6">
		<a href="" class="btn btn-lg btn-danger col-xs-12"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">Clear Form</span></a>
	</section>
</form>