<h2> Success!</h2>
<p> Thank you for providing your details. A training provider will be in touch with you shortly to arrange tutoring for you.</p>
{{#groups}}
<fieldset><legend>{{name}}</legend>
<ul> 
{{#fieldset}}
<li> <strong>{{label}}:</strong>
	{{#is_text}}{{value}}{{/is_text}}
	{{^is_text}}
		{{#options}}
			{{#selected}}
				{{option}}
			{{/selected}}
		{{/options}}
	{{/is_text}}
</li>
{{/fieldset}}
</ul>
</fieldset>
{{/groups}}
