{{#is_file}} 		
{{#value}}
	<img src="uploads/{{value}}" class="img-responsive">
{{/value}}
<input type="file" id="{{id}}"  name="{{id}}" class="file" value="{{value}}" placeholder="{{placeholder}}" aria-describedby="basic-addon1" data-preview-file-type="text" multiple="false">

{{/is_file}}
