{{#errors}}
<div class="col-sm-12">
<p class="text-danger alert alert-danger error col-md-6 col-md-push-3 col-xs-12" role="alert"><small>
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
	{{{message}}} 
</small></p> 
</div>
{{/errors}}