{{#is_select}} 		
<select id="{{id}}"  name="{{id}}" class="form-control">
	<option value="">{{placeholder}}</option>
	{{#options}}
	<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{option}}</option>
	{{/options}}
 </select>
{{/is_select}}