{{#is_radio}}
{{#options}}
<span class="checkbox-inline">
	<label> 
		<input type="radio" name="{{id}}" id="{{id}}" value="{{value}}"{{#selected}} checked="checked" {{/selected}} >
		{{option}} 
	</label>
</span>
{{/options}}
{{/is_radio}}

 