{{#is_passwordNew}} 		
<input type="password" id="{{id}}"  name="{{id}}" class="form-control" placeholder="Enter a password" aria-describedby="basic-addon1"> <br>
<input type="password" id="{{id}}"  name="{{id}}Confirm" class="form-control" placeholder="Confirm password" aria-describedby="basic-addon1"> 	
{{/is_passwordNew}}
