<nav class="navbar navbar-default main container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
      	<a class="navbar-brand" href="#">ShareIT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    	{{#main_menu}}
            <li class="{{class}}"><a href="{{href}}">{{title}}</a></li>
        {{/main_menu}}
        </ul>
        {{#login_menu}}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <form method="post" action="/login.php" class="form-group">
                            <p> <input class="form-control" id="email" name="email" type="text" placeholder="Email"> </p>
                            <p> <input class="form-control" id="password" name="password" type="password" placeholder="Password"> </p>
                            <p> <button type="submit" class="form-control btn-block btn-primary">Login</button> </p>                            
                            <p> <a href="/register.php" class=" text-center form-control btn-block btn-default">Register</a> </p>
                        </form>
                    </li>
                </ul>
            </li>
        {{/login_menu}}
        {{#user_menu}}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Settings<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{#items}}
                    <li class="{{class}}"><a href="{{href}}">{{title}}</a></li>
                    {{/items}}
                    <li role="separator" class="divider"></li>
                    <li class=""><a href="/logout.php">Logout</a></li>
                </ul>
            </li>
        </ul>
        {{/user_menu}}
<?php 
}
?> 
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>