<!-- Start jQuery & jQuery-UI -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	
<!-- End jQuery & jQuery-UI -->
<!-- Start bootStrap -->
<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- End bootStrap -->
<!-- ShareIt Inteface Customisation scripts go here -->
	<script src="/js/TeamRad/locationPicker.js"></script>
	<script src="/js/TeamRad/locationPickerFrontEnd.js"></script>
<!-- End ShareIT interface Customisation  -->