<section class="google-maps col-md-6">
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="550" height="300" src="https://maps.google.com/maps?hl=en&q={{street}} {{suburb}} {{country}}&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed"></iframe>
</section>