<section class="col-md-6">
<h3>Bedrooms</h3>
<table class="table table-responsive table-striped">
<tr>
	<th class="text-right col-xs-3">Bedrooms</th>
	<td class="col-xs-9"><p>{{bedrooms}} </p></td></tr>
<tr>
	<th class="text-right col-xs-3">Beds</th>
	<td>
		{{#beddouble}}
			<p> {{beddouble}} double beds </p>
		{{/beddouble}}
		{{#bedsingle}}
			<p> {{bedsingle}} single beds </p>
		{{/bedsingle}}
	 </td>
</tr>
</table>
</section>