<section class="col-md-6">
<h3>Location</h3>
<table class="table table-responsive table-striped">
<tr>
	<th class="col-xs-3 text-right">Location</th> 
	<td class="col-xs-9"><a href="location.php?locationID={{locationID}}" title="View more properties located in {{location}}">{{location}}</a>, <a href="location.php?countrycode={{countrycode}}" title="View more properties located in {{country}}">{{country}}</a></td>
<tr>
	<th class="col-xs-3 text-right">Address</th> 
	<td>{{street}}, <br>{{suburb}} {{postcode}}</td>
  </td>
</table>
</section>