<section class=" col-md-6">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {{#rows}}
        <li data-target="#myCarousel" data-slide-to="{{slide}}" 
            {{#active}}class="active"{{/active}}></li>
      {{/rows}}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    {{#rows}}
      <div class="item {{#active}}active{{/active}}">
        <img src="uploads/{{file}}" alt="{{comments}}" title="{{comments}}" class="img-responsive">
        <p class="text-center"> {{comments}}</p>
      </div>
    {{/rows}}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>