<section class="col-md-6">
<h3>Facilities</h3>
<table class="table table-responsive table-striped">
<tr>
  <th class="col-xs-3 text-right">Kitchen</th> 
  <td class="col-xs-9"><p>{{kitchen}}</p></td></tr>
<tr><th class="text-right">Laundry</th> <td><p>{{laundry}}</p></td></tr>
<tr><th class="text-right">Bathroom</th> <td><p>{{toilet}}</p></td></tr>
</table>
</section>