<section class="col-md-6">
	<h3>Booking Information</h3>
	<table class="table table-responsive">
	<tr>
		<th class="col-xs-3 text-right">Daily Rate</th> 
		<td class="col-xs-9">${{costperday}}</td>
	<tr><th class="text-right">Bookings</th> 
	<td>
		<a href="landlord.php?landlordID={{landlordID}}" title="View more properties from {{firstname}} {{lastname}}">{{firstname}} {{lastname}}
		<br>
		<a href="mailto:{{email}}?subject=Booking%20Enquiry:%20{{street}},%20{{suburb}}" target="new">{{email}}</a>
	</a>
		{{#mob1}}<br> Phone: {{mob1}} {{/mob1}}
		{{#mob2}}<br> Alternate: {{mob2}} {{/mob2}}
	</td>
	  </td>
	</table>
</section>