<table class="admin-property table table-striped">
    <thead>
        <tr> 
            <th class="col-md-1">Image</th>
            <th class="col-md-1">Location</th>
            <th class="col-md-3">Address</th>
            <th class="text-center col-md-1">Rate</th>
            <th class="text-center col-md-1">Beds</th>
            {{#actions}}
            <th class="text-center col-md-1">Photos</th>
            <th class="text-center col-md-2">Actions</th>
            {{/actions}}
            {{^actions}}
            <th class="text-center col-md-1"></th>
            {{/actions}}
        </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            <td class="img"> {{#featuredImg}}<img src="uploads/{{featuredImg}}" class="img-thumbnail">{{/featuredImg}}</td>
            <td class="location">{{location}} <br> {{country}} </td>
            <td class="address">{{street}}  <br> {{suburb}} {{postcode}}</td>
            <td class="cost text-center">${{cost}}</td>
            <td class="beds text-center">{{bedTotal}}</td>
            {{#actions}}
            <td class="photos text-center">{{images}}</td>
            <td class="text-center container admin-actions">
                <a  href="property.php?propertyID={{propertyID}}"  
                    title="View this Property" class="btn btn-success col-md-5">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                 <a  href="edit.php?propertyID={{propertyID}}"  
                    title="Edit this Property" class="btn btn-success col-md-5">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a  href="upload.php?propertyID={{propertyID}}" 
                    title="Add images to Property" class="btn btn-success col-md-5">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </a>
                <a href="delete.php?propertyID={{propertyID}}" 
                    title="Delete this Property" class="btn btn-danger col-md-5">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
            {{/actions}}
            {{^actions}}
            <td class="photos text-center"> <a  href="property.php?propertyID={{propertyID}}"  
                    title="View this Property" class="btn btn-primary">View</a> </td>
            {{/actions}}
        </tr>
        {{/rows}}

        {{^rows}}
        <td colspan="5"> You haven't added any properties yet.</p>
        {{/rows}}
    </tbody>
</table>