    <table class="table table-striped table-responsive">
    <thead><th colspan="2">{{role}}</th></thead>
    <tr><th>Name</th>       <td>{{firstname}} {{lastname}}</td></tr>
    <tr><th>Location</th>   <td>{{location}}, {{country}}</td></tr>
    <tr><th>User</th>       <td>{{username}}</td></tr>
    <tr><th>Email</th>      <td><a href="mailto:{{email}}">{{email}}</a></td></tr>
    </table>
	<p> <a href="edit.php" class="btn-primary btn-lg btn-block">Add a new property</a> </p>
    